@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --bg-color: #f9f9f9;
  --dark-bg-color: #181818;
  --text-color: #333333;
  --dark-text-color: #f9f9f9;
  --cs-highlight-color: #ae00ff;
  --es-highlight-color: #ffe100;
}

body {
  font-family: "Manrope", sans-serif;
}
